encodings.xml
misc.xml
modules.xml
src.iml
vcs.xml
workspace.xml
.name
compiler.xml
Maven__com_agrirouter_api_lmis_agrirouter_api_java_api_0_0_1_SNAPSHOT.xml
Maven__com_agrirouter_api_lmis_agrirouter_api_java_api_jdk8_0_0_1_SNAPSHOT.xml
Maven__com_agrirouter_api_lmis_agrirouter_api_java_impl_jdk8_0_0_1_SNAPSHOT.xml
Maven__com_agrirouter_proto_agrirouter_api_protobuf_definitions_jdk10_0_0_1_SNAPSHOT.xml
Maven__com_agrirouter_proto_agrirouter_api_protobuf_definitions_jdk8_0_0_1_SNAPSHOT.xml
Maven__com_fasterxml_classmate_1_3_1.xml
Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
Maven__com_fasterxml_jackson_core_jackson_core_2_8_4.xml
Maven__com_fasterxml_jackson_core_jackson_databind_2_8_4.xml
Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_8_4.xml
Maven__com_google_code_gson_gson_2_3.xml
Maven__com_google_protobuf_protobuf_java_3_5_1.xml
Maven__commons_codec_commons_codec_1_11.xml
Maven__commons_io_commons_io_2_6.xml
Maven__commons_logging_commons_logging_1_2.xml
Maven__commons_net_commons_net_3_6.xml
Maven__javax_annotation_javax_annotation_api_1_2.xml
Maven__javax_inject_javax_inject_1.xml
Maven__javax_validation_validation_api_2_0_1_Final.xml
Maven__javax_ws_rs_javax_ws_rs_api_2_1.xml
Maven__net_sourceforge_htmlunit_htmlunit_2_30.xml
Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_28.xml
Maven__net_sourceforge_htmlunit_htmlunit_cssparser_1_0_0.xml
Maven__net_sourceforge_htmlunit_neko_htmlunit_2_30.xml
Maven__org_apache_commons_commons_lang3_3_6.xml
Maven__org_apache_commons_commons_text_1_3.xml
Maven__org_apache_httpcomponents_httpclient_4_5_5.xml
Maven__org_apache_httpcomponents_httpcore_4_4_9.xml
Maven__org_apache_httpcomponents_httpmime_4_5_5.xml
Maven__org_apache_logging_log4j_log4j_api_2_11_1.xml
Maven__org_apache_logging_log4j_log4j_core_2_11_1.xml
Maven__org_eclipse_jetty_jetty_client_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_jetty_http_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_jetty_io_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_jetty_util_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_jetty_xml_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_websocket_websocket_api_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_websocket_websocket_client_9_4_9_v20180320.xml
Maven__org_eclipse_jetty_websocket_websocket_common_9_4_9_v20180320.xml
Maven__org_eclipse_paho_org_eclipse_paho_client_mqttv3_1_2_0.xml
Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b42.xml
Maven__org_glassfish_hk2_external_javax_inject_2_5_0_b42.xml
Maven__org_glassfish_hk2_hk2_api_2_5_0_b42.xml
Maven__org_glassfish_hk2_hk2_locator_2_5_0_b42.xml
Maven__org_glassfish_hk2_hk2_utils_2_5_0_b42.xml
Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
Maven__org_glassfish_javax_el_3_0_1_b08.xml
Maven__org_glassfish_jersey_core_jersey_client_2_26.xml
Maven__org_glassfish_jersey_core_jersey_common_2_26.xml
Maven__org_glassfish_jersey_ext_jersey_entity_filtering_2_26.xml
Maven__org_glassfish_jersey_inject_jersey_hk2_2_26.xml
Maven__org_glassfish_jersey_media_jersey_media_json_jackson_2_26.xml
Maven__org_hibernate_validator_hibernate_validator_6_0_5_Final.xml
Maven__org_javassist_javassist_3_22_0_CR2.xml
Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
Maven__org_jetbrains_annotations_13_0.xml
Maven__org_jetbrains_kotlin_kotlin_stdlib_1_2_61.xml
Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_2_61.xml
Maven__org_projectlombok_lombok_1_18_2.xml
Maven__xalan_serializer_2_7_2.xml
Maven__xalan_xalan_2_7_2.xml
Maven__xerces_xercesImpl_2_11_0.xml
Maven__xml_apis_xml_apis_1_4_01.xml
/04-create-maven-project/src/maven-project.iml
/05-onboard-appinstances/src/01-cu/.idea/agrirouter-api-java-tutorial.iml
/05-onboard-appinstances/src/01-cu/target/classes/Application.class
/05-onboard-appinstances/src/01-cu/target/classes/ApplicationVersion.class
/05-onboard-appinstances/src/01-cu/target/classes/Main$1.class
/05-onboard-appinstances/src/01-cu/target/classes/Main.class
/05-onboard-appinstances/src/02-fmis/.idea/agrirouter-api-java-tutorial.iml
*.class
*.iml
/07-send-capabilities/.idea/libraries/Maven__com_agrirouter_api_lmis_agrirouter_api_java_impl_0_0_1_SNAPSHOT.xml
/07-send-capabilities/.idea/libraries/Maven__com_agrirouter_proto_agrirouter_api_protobuf_definitions_0_0_1_SNAPSHOT.xml
/07-send-capabilities/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_5_0.xml
/07-send-capabilities/.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_0.xml
/07-send-capabilities/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_1.xml
/07-send-capabilities/.idea/libraries/Maven__javax_activation_activation_1_1.xml
/07-send-capabilities/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/07-send-capabilities/.idea/libraries/Maven__javax_el_javax_el_api_2_2_4.xml
/07-send-capabilities/.idea/libraries/Maven__javax_javaee_api_8_0.xml
/07-send-capabilities/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/07-send-capabilities/.idea/libraries/Maven__org_glassfish_web_javax_el_2_2_4.xml
/09-request-endpointlist/src/target/classes/META-INF/readEndpointList.kotlin_module
/09-request-endpointlist/src/target/classes/cu/onboard-CU1.json
/09-request-endpointlist/src/target/classes/telemetry/onboard-telemetry1.json
/05-onboard-appinstances/src/03-telemetry/target/classes
/04-create-maven-project/src/target/classes/cu
/05-onboard-appinstances/src/01-cu/target/classes
/07-send-capabilities/src/target/classes/cu/onboard-CU1.json
/07-send-capabilities/src/target/classes/telemetry/onboard-telemetry1.json
/07-send-capabilities/src/target/production/07-send-capabilities/main/resources/cu/onboard-CU1.json
/07-send-capabilities/src/target/production/07-send-capabilities/main/resources/telemetry/onboard-telemetry1.json
/10-send-file/*.zip
/10-send-file/src/.idea/libraries/*.xml
/10-send-file/src/target/classes/telemetry
/11-receive-file/src/.idea/libraries/Maven__com_agrirouter_api_lmis_agrirouter_api_java_impl_0_0_1_SNAPSHOT.xml
/11-receive-file/src/.idea/libraries/Maven__com_agrirouter_proto_agrirouter_api_protobuf_definitions_0_0_1_SNAPSHOT.xml
/11-receive-file/src/.idea/libraries/Maven__com_google_guava_guava_19_0.xml
/11-receive-file/src/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_5_0.xml
/11-receive-file/src/.idea/libraries/Maven__com_google_protobuf_protobuf_java_util_3_5_1.xml
/11-receive-file/src/.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_0.xml
/11-receive-file/src/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_1.xml
/11-receive-file/src/.idea/libraries/Maven__javax_activation_activation_1_1.xml
/11-receive-file/src/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/11-receive-file/src/.idea/libraries/Maven__javax_el_javax_el_api_2_2_4.xml
/11-receive-file/src/.idea/libraries/Maven__javax_javaee_api_8_0.xml
/11-receive-file/src/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/11-receive-file/src/.idea/libraries/Maven__org_glassfish_web_javax_el_2_2_4.xml
/11-receive-file/src/target/classes/cu/onboard-CU1.json
/11-receive-file/src/target/classes/cu/onboard-CU2.json
/11-receive-file/src/target/classes/file/logo.bmp
/11-receive-file/src/target/classes/file/logo.png
/11-receive-file/src/target/classes/telemetry/onboard-telemetry1.json
/04-create-maven-project/src/target
